/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет белого текста #FFFFFF */
/* акцент #2196F3 */
/* фон основной #FFFFFF */
/* фон вставки и подвала #2F303A*/
/* фон Наша команда #F5F4FA */
/* фон кнопки Заказать услугу #2196F3*/
/* фон кнопок портфолио #F5F4FA*/


:root {
    --primery-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primery-white-color:#FFFFFF;
}

body {
    font-family:'Roboto', sans-serif;
    background-color:#FFFFFF;
    color:var(--primery-text-color);
}

ul {
    list-style:none;
}

/* Logo */
.logo {
    color:var(--accent-color);
}
.studio{
    color: var(--title-text-color);
}
.studio-futer{
    color: var(--title-text-color);
}

/* Contakt */
.contakt {
    color:var(--primery-text-color);
}
.contakt:hover, 
.contakt:focus{
    color:var(--accent-color);
}
.adres{
    color: var(--title-text-color);
}
.adres:hover,
.adres:focus{
    color: var(--accent-color);
}


/* Стили для index.html */

/* Site-nav */
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);  
}

/* Hero */
.hero-title{
    color: silver;
}

/* Section */
.section-title{
    color: var(--title-text-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/* Features */
.title{
    color: var(--title-text-color) ;
}

/* Our team */
.name {
    color: var(--title-text-color) ;
}
/* Button */
.button{
    color: var(--primery-white-color);
    background-color:var(--accent-color);
}


/* Стили для portfolio.html */

/* Button porfolio */
.button-porfolio{
    color: var(--title-text-color);
    background-color:#F5F4FA;
}
.button-porfolio:hover, 
.button-porfolio:focus{
    color:var(--primery-white-color);
    background-color:var(--accent-color)
}

/* Project */
.project {
    color: var(--title-text-color);
}
/* .project{     color: inherit;} */


/* Group */
.group {
    color: var(--primery-text-color);
}